<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/admin/add" method="POST">

        Company name
        <input type="text" name="name" id=""> <br>
        Purpose
        <select name="purpose" id="">
            <option value="job">Job</option>
            <option value="internship">Internship</option>
        </select> <br>

        Stipend
        <input type="text" name="stipend" id=""> <br>

        Location
        <input type="text" name="location" id=""> <br>

        Time period
        <input type="text" name="time_period"> <br>

        For which branches - 
        <input type="text" name="branch"> <br>

        Year
        <select name="year" id="">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select> <br>

        <button type="submit">Add the company</button>

    </form>
</body>
</html>