<!DOCTYPE html>
<html lang="en">
	
	
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Placement Portal</title>
    <link rel ="shortcut icon" type="image/png" href="/img/favicon.ico">
    <!-- All Plugins Css -->
    <link href="/css/plugins.css" rel="stylesheet">
     

    <!-- Custom CSS -->
    <link href="/css/styles.css" rel="stylesheet">
    
    <!-- Custom Color -->
	<link href="/css/default.css" rel="stylesheet">
	<script>
		function myFunction() {
		  var x = document.getElementById("myInput");
		  if (x.type === "password") {
			x.type = "text";
		  } else {
			x.type = "password";
		  }
		}
		function regpass() {
			  var x = document.getElementById("reg");
			  if (x.type === "password") {
				x.type = "text";
			  } else {
				x.type = "password";
			  }
			}
		</script>
</head>

<body class="green-skin bg-light">
    
    <div id="main-wrapper">
		
        <!-- Start Navigation navbar-->
        <div class="header header-light">
            <div class="container-fluid">
                <nav id="navigation" class="navigation navigation-landscape">
                    <div class="nav-header">
                        <a class="nav-brand" href="#">
                            <img src="/img/logo4.PNG" class="logo"  alt="logo">
                        </a>
                        <div class="nav-toggle"></div>
                    </div>
                    <div class="nav-menus-wrapper" style="transition-property: none;">
                        <ul class="nav-menu">
                        
                            <li class="active"><a href="/">Home</a></li>
							
								<%if (user && user.admin){%>
								<li><a href="/allusers">All students</a></li>
									<%}%>
									<% if(user){ %>
										  <li>
										<a href="/admin/list" >
											<i class="ti-signal mr-1"></i><span class="dn-lg">Get list </span>
										</a>
									</li>
										<%}%>
                                    <li>
									<a href="/tip"><i class="ti-ink-pen"></i><span class="dn-lg">Add new tip</span></a></li>                                 
                            </li>
                            
                            <li><a href="/contact">Contact Us</a></li>
                            
                        </ul>
                        
                        <ul class="nav-menu nav-menu-social align-to-right">
                            
                            
								<% if(user) {%>
									<li>
										<a href="/users/logout" >
											<i class="ti-user mr-1"></i><span class="dn-lg">Logout</span>
										</a>
									</li>
								
									
									
									<% if(user.admin){ %>
									<li class="add-listing theme-bg">
										<a href="/admin/addnew">
											 <i class="ti-plus"></i> Add new company
										</a>
									</li>
									<% }else{ %>
										<li class="add-listing theme-bg">
											<a href="/users/profile">
												Your Profile
											</a>
										</li>
										<% } %>
								<% }else{ %>
									<li>
									<a href="#" data-toggle="modal" data-target="#login">
										<i class="ti-user mr-1"></i><span class="dn-lg">Login/Register</span>
									</a>
									</li>
									<% } %>
                           
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- End Navigation -->
        <div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			
			<%- messages('messages', locals) -%>
			<!-- ============================ Hero Banner  Start================================== -->
			<div class="hero-header jumbo-banner" style="background: url(/img/h.jpg);" data-overlay="5">
				<div class="container">
					<h1>Platform for smooth Campus Placements</h1>
					<p class="lead">Find Jobs, Employment & Best Career Opportunities</p>
					<div class="col-lg-9 col-md-10">
						
						
					</div>
					
				</div>
			</div>
			<!-- ============================ Hero Banner End ================================== -->
			
			<!-- ============================ Step How To Use Start ================================== -->
			<section class="min-sec">
				<div class="container">
					
					<div class="row">
						<div class="col text-center">
							<div class="sec-heading mx-auto">
								<h2>Steps to Apply</h2>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="middle-icon-features">
								<div class="middle-icon-features-item">
									<div class="middle-icon-large-features-box">
										<img src="/img/behavioral.png" alt="">
									</div>
									<div class="middle-icon-features-content">
										<h4>Register</h4>
										<p>Register yourself with username as collge roll no. and email provides by your college.</p>
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="middle-icon-features">
								<div class="middle-icon-features-item">
									<div class="middle-icon-large-features-box">
										<img src="/img/skill.png" alt="">	
									</div>
									<div class="middle-icon-features-content">
										<h4>Fill your profile</h4>
										<p>Update your profile with cg, new skills, experiences and qualifications.</p>
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="middle-icon-features">
								<div class="middle-icon-features-item">
									<div class="middle-icon-large-features-box">
										<img src="/img/hiring.png" alt="">	
									</div>
									<div class="middle-icon-features-content">
										<h4>Apply</h4>
										<p>Click on the apply button whenever you see any new job. Your all the details
										will be automatically sent.</p>
									</div>
								</div>
							</div>
						</div>
					   </div>	
					</div>
				
			</section>
			
			
			<footer class="dark-footer skin-dark-footer">
				<div class="footer-bottom">
					<div class="container">
						<div class="row align-items-center">
							
							<div class="col-lg-6 col-md-6">
								<p class="mb-0">© 2020 Placement Portal. All Rights Reserved</p>
							</div>
							
							<div class="col-lg-6 col-md-6 text-right">
								<ul class="footer-bottom-social">
									<li><a href="#"><i class="ti-facebook"></i></a></li>
									<li><a href="#"><i class="ti-twitter"></i></a></li>
									<li><a href="#"><i class="ti-instagram"></i></a></li>
									<li><a href="#"><i class="ti-linkedin"></i></a></li>
								</ul>
							</div>
							
						</div>
					</div>
				</div>
				
			</footer>

			<!-- ============================ Footer End ================================== -->
			
			<!-- Log In Modal -->
			<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="registermodal" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
					<div class="modal-content" id="registermodal">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true"><i class="ti-close"></i></span>
							</button>
						</div>
						<div class="modal-body">
							<h4 class="modal-header-title">SignIn</h4>
							
							<div class="login-form">
								<form method="post" action="/users/login">
								
									<div class="form-group">
										<label>User Name</label>
										<div class="input-with-gray">
											<input type="text" class="form-control" placeholder="Username" name="username">
											<i class="ti-user theme-cl"></i>
										</div>
									</div>
									
									<div class="form-group">
										<label>Password</label>
										<input class="ml-40" type="checkbox" onclick="myFunction()">
										<div class="input-with-gray">
											<input type="password" name="password" id="myInput" class="form-control" placeholder="*******" required>
												<i class="ti-unlock theme-cl"></i>
										</div>
									</div>
									
									<div class="form-group">
										<button type="submit" class="btn btn-primary btn-md full-width pop-login">Login</button>
									</div>
								
								</form>
							</div>
						</div>
						<div class="modal-footer">
							<div class="mf-link"><i class="ti-user"></i>Don't have An Account?<a href="javascript:void(0)" data-toggle="modal" data-target="#signup" data-dismiss="modal"> Sign Up</a></div>
							<div class="mf-forget"><a href="#"><i class="ti-help"></i>Forget Password</a></div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Modal -->
			
			<!-- Sign Up Modal -->
			<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="sign-up" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
					<div class="modal-content" id="sign-up">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true"><i class="ti-close"></i></span>
							</button>
						</div>
						<div class="modal-body">
							<h4 class="modal-header-title">Sign Up</h4>
							
							
							<div class="login-form">
								<form method="post" action="/users/register">
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6">
											<div class="form-group">
												<label>Full Name</label>
												<div class="input-with-gray">
													<input type="text" class="form-control" placeholder="Your Name" name="name" required>
													<i class="ti-user theme-cl"></i>
												</div>
											</div>
										</div>
										
										<div class="col-lg-6 col-md-6 col-sm-6">
											<div class="form-group">
												<label>Email</label>
												<div class="input-with-gray">
													<input type="text" name="email" pattern="^[a-zA-Z0-9]+@thapar\.edu$" class="form-control" placeholder="your_mail@thapar.edu" required>
													<i class="ti-email theme-cl"></i>
												</div>
											</div>
										</div>
									</div>
			
									<div class="row">
										<div class="col-lg-7 col-md-7 col-sm-6">
											<div class="form-group">
												<label>Phone Number (Prefer Whatsapp Number)</label>
												<div class="input-with-gray">
													<input type="number" name="contact" class="form-control" placeholder="Phone Number" required>
													<i class="ti-info-alt theme-cl"></i>
												</div>
											</div>
										</div>
										
										
									
										<div class="col-lg-5 col-md-5 col-sm-6">
											<div class="form-group">
												<label>Gender</label>
												<div class="input-with-gray">
													<select name="gender" id="" class="form-control">
														<option value=""></option>
														<option value="Male">Male</option>
														<option value="Female">Female</option>
													</select>
													<i class="ti-basketball theme-cl"></i>
												</div>
											</div>
										</div>
										
								
										
									</div>
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12">
											<div class="form-group">
												<label>User Name</label>
												<div class="input-with-gray">
													<input type="text" name="username" class="form-control" placeholder="Username" required>
													<i class="ti-user theme-cl"></i>
												</div>
											</div>
										</div>
										<div class="col-lg-12 col-md-12 col-sm-12">
											<div class="form-group">
												<label>Password</label>
												<input class="ml-40" type="checkbox" onclick="regpass()">
												<div class="input-with-gray">
													<input type="password" name="password" id="reg" class="form-control" placeholder="*******" required>
												<i class="ti-unlock theme-cl"></i>
												</div>
											</div>
										</div>
									</div>
									
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12">
											<div class="form-group">
												<button type="submit" class="btn btn-primary btn-md full-width pop-login">Sign Up</button>
											</div>
										</div>
									</div>
			
								</form>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			<!-- End Modal -->				

		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->

		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		<script src="/js/jquery.min.js"></script>
		<script src="/js/popper.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/select2.min.js"></script>
		<script src="/js/aos.js"></script>
		<script src="/js/perfect-scrollbar.jquery.min.js"></script>
		<script src="/js/owl.carousel.min.js"></script>
		<script src="/js/jquery.counterup.min.js"></script>
		<script src="/js/slick.js"></script>
		<script src="/js/bootstrap-datepicker.js"></script>
		<script src="/js/isotope.min.js"></script>
		<script src="/js/summernote.js"></script>
		<script src="/js/jQuery.style.switcher.js"></script>
		 
		<script src="/js/counterup.min.js"></script>
		<script src="/js/custom.js"></script>
		
		<script>
				$(function(){
					$('.datepicker').datepicker({
						format: 'mm-dd-yyyy'
					});
				});
		</script>
		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->
		

	</body>

</html>