<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>  <h1>Add question</h1></center>
<div class="container ">
<form method="post" action="/question">

    <div class="row">
        <div class="form-group col-md-4">
        </div>
    <div class="form-group col-md-4">
        
        <input type="text" name="question" class="form-control" placeholder="Question" style="padding: 20px 9px;font-size: 16px">
    </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
        </div>
    <div class="form-group col-md-4">
        <input type="text" name="option1" class="form-control" placeholder="Wrong Option 1" style="padding: 20px 9px;font-size: 16px">
    </div></div>

    <div class="row">
        <div class="form-group col-md-4">
        </div>
    <div class="form-group col-md-4">
        <input type="text" name="option2" class="form-control" placeholder="Wrong Option 2" style="padding: 20px 9px;font-size: 16px">
    </div></div>
    
    <div class="row">
        <div class="form-group col-md-4">
        </div>
    <div class="form-group col-md-4">
        <input type="text" name="answer" class="form-control" placeholder="Correct Answer" style="padding: 20px 9px;font-size: 16px">
    </div></div>
    <div class="row">
        <div class="form-group col-md-4">
        </div>
    <div class="form-group col-md-4">
        <input type="text" name="marks" class="form-control" placeholder="Marks" style="padding: 20px 9px;font-size: 16px">
    </div></div>
   

    <div class="row">
        <div class="form-group col-md-4">
        </div>
    <div class="form-group col-md-4">
        <!-- <label>Confirm Password</label> -->
        <input type="text" name="about" class="form-control"  placeholder="Related to which skill" style="padding: 20px 9px;font-size: 16px">
    </div></div>
    
    <div class="row">
        <div class="form-group col-md-4">
        </div>
    <div class="form-group col-md-4" style="text-align: center;">
    <button type="submit" class="btn btn-default btn-info" style="background-color: #4CAF50;font-size: 16px;text-align: center;">Submit</button>
    <br><br>
    <a href="/users/login" class="btn btn-default btn-info" style="background-color: #4CAF50;font-size: 16px;text-align: center;">Go back</a>
    </div>
    </div>
    
</form>
</div>

</body>
</html>